*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background: #40405c;
    padding: 0 50px;
    height: 100px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    text-transform: uppercase;
    font-weight: 200;
    transition: 0.4s;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    text-transform: uppercase;
    transition: 0.4s;
}
.navbar a:hover,
header h2:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
    color: #6cc091;
}
.mostrar-menu,
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: .4s;
    }
    .mostrar-menu{
        order:1; 
    }
    #check{
        display: none;
    }

.banner{
    padding: 0 50px;
    background-image: url(blockchain.jpg);
    height: 45vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner::before{
    content: '';
    background: rgba(113, 113, 118, 0.4);
    position: absolute;
    width: 100%;
    height: 45vh;
    left: 0;
}
.contenido-banner{
    position: relative;
    color: #fff;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.contenido-banner h3{
    font-size: 30px;
    font-weight: 400;
    padding: 10px 0px;
    }
.contenido-banner h3 span{
    font-weight: 600;
}
.btn-empezar{
    text-decoration: none;
    color: #fff;
    border: 1px solid #6cc091;
    padding: 20px 40px;
    align-self: baseline;
    transition: all 0.4s;
}
.btn-empezar:hover{
    background: #6cc09970;
}
#personas{
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
#personas img{
    width: 130px;
    border-radius: 100%;
}
#personas div{
    padding: 30px 30px;
}
#personas div h4{
    color: #40405c;
    font-size: 20px;
    margin: 15px 0px;
}
#personas div p{
    color:  #4d4d5c87;
    font-size: 18px;
    justify-content: center;
}
.btn-more{
    display: inline-block;
    text-decoration: none;
    color: #6cc091;
    padding: 10px 30px;
    border-radius: 30px;
    border: 3px solid #6cc091;
    margin-top: 15px;
    transition: all 0.4s;
}
.btn-more:hover{
    background: #6cc091;
    color: #fff;
}
footer{
    background: #40405c;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 150px;
}
footer h4{
    margin-top: 10px;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
}
footer h5{
    margin-top: 1px;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
}
#mail{
    text-decoration: none;
    color: #fff;
}
#mail:hover{
    color: #6cc091;
}
#portfolio{
    display: none;
    justify-content: center;
    width: 100%;
    margin-left: 30%;
    padding-top: 1%;
    transition: 1s;
}
#iframe-1{
    display: none;
    border-radius: 10px;
    margin-left: 30%;
    padding: 0% 0% 2%;
    transition: 1s;
}
#iframe-2{
    display: none;
    border-radius: 10px;
    margin-left: 30%;
    padding: 0% 0% 3%;
    transition: 1s;
}
h2{
    color: #40405c;
}
#chairlink{
    height: 700px;
}




@media(max-width:768px){
    .mostrar-menu,
    .esconder-menu{
        display: block;
    }

    .navbar{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #40405c;
        right: -100%;
        top:0 ;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: .8s;
    }
    .navbar a{
        display: block;
        padding: 20px;
    }
    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;    
    }
    #check:checked ~ .navbar{
        right: 0;
    }
    #personas{
        flex-direction: column;
    }
    #portfolio{        
        margin-left: 15%;        
    }
    #iframe-1, #iframe-2{
        margin-left: 1%;
        margin-right: 1%;
        width: 98%;
    }

    }